<h1>Budgie</h1>

<form name="input" action="form_action.asp" method="get">
	Username: <input type="text" name="user">
	Password: <input type="password" name="pwd">
	<input type="submit" value="Submit">
</form>