<h1>Sample App#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>

<form name="input" action="form_action.asp" method="get">
	Username: <input type="text" name="user">
	Password: <input type="password" name="pwd">
	<input type="submit" value="Submit">
</form>form>