<h1>Budgie</h1>

<div id="forms">
	<form name="input" action="form_action.asp" method="get">
		Username: <input type="text" name="user">
		Password: <input type="password" name="pwd">
		<input type="submit" value="sign in">
	</form>
</div>

<p>or <a href="users/new">create account</a></p>
<p><a href="#">forgot password?</a></p>