<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>

<div id="forms">
	<form name="input" action="createuserform_action.asp" method="get">
		First name: <input type="text" name="firstname">
		Surname: <input type="text" name="surname">
		Username: <input type="text" name="user">
		Password: <input type="password" name="pwd">
		Confirm password: <input type="password" name="confirmpwd">
		<input type="submit" value="sign in">
	</form>
</div>