	<div class="select2-container form-control select select-primary">
		<select id="transaction_spread_type" name="transaction[spread_type]">
		<% spread_types = get_spread_types() %>
		<% spread_types.each do |s| %>
			<option value="<%= s %>" >
				<%= s %>
			</option>
		<% end %>
		</select>
	</div>

	<div class="select2-container form-control select select-primary">
		<select id="transaction_category" name="transaction[category]" >
			<option selected disabled="category">category</option>
			<% categories = get_categories() %>
			<% categories.each do |c| %>
			<option value="<%= c %>" <% if !@transaction.nil? and @transaction.category == c %> selected="selected" <% end %> >
				<%= c %>
			</option>
			<% end %>
		</select>
	</div>

