<% if !@user.nil? and @user.errors.any? %>
<% @form_errors = @user.errors %>
<% elsif !@new_transaction.nil? and @new_transaction.errors.any? %>
<% @form_errors = @new_transaction.errors %>
<% end %>

<% if !@form_errors.nil? and !@form_errors.empty? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      The form contains <%= pluralize(@form_errors.count, "error") %>.
    </div>
    <ul>
    <% @form_errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% elsif !@login_error.nil? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      Login Failed
    </div>
    <ul>
      <li>* <%= @login_error %></li>
    </ul>
  </div>
<% end %>