<% if signed_in? %>
  <div id="success_explanation">
    <div class="alert alert-success">
    Sick login, <%= "#{current_user.first_name}" %>!
    </div>
  </div>

<% elsif !@error.blank? %>
   <div class="alert alert-error", style="text-align:center;"><%= @error %></div>
<% end %>