// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

<<<<<<< HEAD
body {
	text-align: center;
	background-color:#1e7394;
}

a {
	text-decoration: none;
}

#session-email {
	padding: 200px;
	font-size: 18px;
}

.logo {
	padding: 50px 0;
=======

#session-email {
	width: 1000px;
	padding: 1000px;
>>>>>>> 52deff8b0c91346fa3d2745417a5f30e07894772
}