/* Place all the styles related to the Transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com
*/

#info {
	text-align: center;
	padding: 80px 0px;
	background-color:#1e7394;

	h1 {
		display: block;
		margin: auto;
		text-align: center;
		color: white;
	}

	input {
		display: block;
		margin: 0 auto;
		margin-top: 20px;
		margin-bottom: 20px;
		padding: 18px 10px;
		font-size: 18px;
		width: 30%;
		min-width: 200px;
		max-width: 300px;
		border-radius: 6px;
	}

	a {
		text-decoration: none;
	}

	#sign_in_button{
		display: block;
		margin: auto;
		text-decoration: none;
	}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	#info {
		text-align: center;
		padding: 160px 0px;
		background-color:#1e7394;

		h1 {
			line-height: 150px;
			display: block;
			margin: auto;
			text-align: center;
			font-size: 100px;
			color: white;
		}

		input {
			display: block;
			margin: 0 auto;
			margin-top: 40px;
			margin-bottom: 20px;
			padding: 36px 20px;
			font-size: 40px;
			width: 60%;
			min-width: 400px;
			max-width: 600px;
		}

		a {
			font-size: 40px;
			text-decoration: none;
		}

		#sign_in_button{
			display: block;
			margin: auto;
			text-decoration: none;
		}
	}
}


#transaction_spread_number {
	width: 70px;
}

#transaction_spread_type {
	width: 125px;
}

#transaction_category {
	width: 200px;
}

#recent_transactions {
	padding: 10px 0px;

	h1 {
		display: block;
		margin: auto;
		text-align: center;
	}

	input {
		padding: 18px 10px;
		font-size: 18px;
		border-radius: 6px;
	}

	.btn {
		margin-top: -8px;
		padding: 8px 10px;
	}

	a {
		text-decoration: none;
	}
}