<!DOCTYPE html>
<html>
<head>
	<title>Budgie</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<!-- javascript_include_tag "application", "data-turbolinks-track" => true -->
	<%= csrf_meta_tags %>
</head>
<body>

	<div class="container" id="main_well">
		<div class="well">
			<%= yield %>
		</div>
	</div>
	<div class="well" style="background-color: #DDAAEE">
		<%= params.inspect %>
	</div>
</body>
</html>
